body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(blue, purple);
}

p {
    font-family: cursive;
}


canvas {
    box-shadow: 0 0 5px black;
}

